*
{
	box-sizing: border-box;
	font-family: "Montserrat", semi-bold;
	color: #323641;
}

body
{
	background-color: #e6ffff;
}

#top-bar
{
	background-color: #006967;
}

#jumbo-section
{
	background-color: #e6ffff;
	height: 500px;
	padding-top: 3rem;
}


